<%- include('layouts/header') -%>
<div id="accionIngresar" class="row">
    <h3 class="col-sm-12">No está autorizado</h3>
    <p>Razón: <br>
    Error: <%= data.error %><br>
    Descripcion: <%= data.descripcion %></p>
    <a href="/">Regresar</a>
</div>
<%- include('layouts/footer') -%>